* {
    box-sizing: border-box;
  }

/*general body - background*/
body {
    background-image: url("../images/cubes.png");
    background-repeat: repeat-y repeat-x;
    width: 100%;
}

/*footer style*/
footer {
    width:100%;
    height:50px;
    background-color: #666666;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    position: absolute;
    bottom:0;
    left:0;
}

.foot {
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    font-size: 10px;
    text-align: center;
}

.sticky {
    width:100%;
    height: 50px;
    margin-top: 250px;
    position: relative;
    bottom:0;
    left:0;
}

/*tag level sytles*/
img {
    display: block;
    height:150px;
    width:200px;
    float: left;
}

hr {
    color: #cccccc;
    border-style: solid;
    margin-top: 10px;
    margin-bottom:30px;
}

p {
    padding-bottom: 35px;
    padding-right: 20px;
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height:200%;
    margin-top:-7.5px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;

}

a {
    color:#cccccc;
    background-color: transparent;
    text-decoration: none;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

.spaced {
    margin-left:25px;
}

/*Navigation bar*/
.navbar {
    background-color:#ffffff;
    border-bottom-style: solid;
    border-bottom-color:#cccccc;
    border-bottom-width: 2px;
    position: fixed;
    width: 100%;
    height: 95px;
    z-index: 2;
}

.center {
    width: 960px;
    margin:auto;
}

#yourname {
    position: absolute;
    bottom: 0px;
    padding: 35px;
    font-size: 30px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    background-color: #4aaaa5;
}

#pages {
    position: relative;
    float: right;
    padding: 35px;
    padding-right: 0px;
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   
}

/*main content styles*/
.contentbox {
    border-style: solid;
    border-width: 2px;
    border-color: #dddddd;
    background-color: #ffffff;
    position: relative;
    top: 130px;
    width: 100%;
    max-width: 960px;
    margin:auto;
}

.clearfix {
    overflow: auto;
}

.selfie {
    margin-right: 25px;
}

.reducebottom {
    padding-bottom: 0px;
}

/*contact form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

input[type=submit] {
    background-color: #4aaaa5;
    color:#ffffff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #137a75;
}

.container {
    padding: 30px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

/*portfolio gallery styles*/

.frame {
    position: relative;
    float: left;
    padding-top:25px;
    padding-bottom: 25px;
    padding-right: 40px;
}

.frame-right {
    position: relative;
    float: left;
    padding-top:25px;
    padding-bottom: 25px;
}

.larger {
    width: 275px;
    height: 205px;
}

.title {
    position: absolute;
    height:50px;
    width:275px;
    background-color: #4aaaa5;
    color:white;
    font-size: 20px;
    text-align: center;
    bottom:35px;
}

.row {
    width: 650px;
}

.middle{
    position: relative;
    margin-top:12.5px;
}

/*Responsivity*/

/*first size down 980*/
@media screen and (max-width:980px){

    .navbar {
        position: fixed;
        width: 100%;
        height: 95px;
    }

    .center {
        max-width: 960px;
        margin-left:50px;
        margin-right:0px;
    }
    
    #yourname {
        position: absolute;
        bottom: 0px;
        padding: 35px;
        font-size: 30px;
    }
    
    #pages {
        position: absolute;
        float: none;
        right:0px;
        padding: 35px;
        padding-right: 40px;
    }

    .contentbox {
        max-width: 660px;
        top: 130px;
        margin-left:50px;
    }

    .row {
        max-width: 660px;
    }

    .title {
        max-width:295px;
        height:50px;
        font-size:20px;
        bottom:35px;
        top: 185px;
    }

    .middle{
        position: relative;
        margin-top:12.5px;
    }

    .center{
        max-width:710px;
    }

    .title {
        max-width:275px;
        height:50px;
        font-size:20px;
        bottom:35px;
        top: 170px;
    }

    img {
        display: block;
        max-height:150px;
        max-width:200px;
        float: left;
    }

    .larger {
        max-width: 275px;
        max-height: 205px;
    }

    .selfie {
        max-width: 200px;
        max-height: 150px;
        margin-bottom: 0px;
    }
}


/*mid-size 768*/
@media screen and (max-width: 768px){

    .navbar {
        position: fixed;
        width: 100%;
        height: 95px;
    }

    .center {
        max-width: 768px;
        margin:auto;
    }
    
    #yourname {
        position: absolute;
        bottom: 0px;
        padding: 35px;
        font-size: 30px;
        margin: auto;
    }
    
    #pages {
        position: relative;
        float: right;
        padding: 35px;
        padding-right: 0px;
    }

    .contentbox {
        max-width: 710px;
        top: 130px;
        margin:auto;
    }

    .row {
        width: 710px;
    }

    .title {
        width: 100%;
        max-width:295px;
        height:50px;
        font-size:20px;
        bottom:35px;
        top: 185px;
    }

    .middle{
        position: relative;
        margin-top:12.5px;
    }

    .center{
        width:710px;
    }

    img {
        display: block;
        height:150px;
        width:200px;
        float: left;
    }

    
    .larger {
        width: 100%;
        height: auto;
        max-width: 295px;
        max-height: 220px;
    }


    .selfie {
        width: 100%;
        height: auto;
        max-width: 325px;
        max-height: 245px;
    }
}

/*smallest - 640*/
@media screen and (max-width: 640px){

    .contentbox {
        margin: auto;
        width:100%;
        max-width: 535px;
        top: 30px;
    }

    .row {
        width: 535px;
    }

    .frame {
        position: relative;
        float: left;
        padding-top:25px;
        padding-bottom: 25px;
        padding-right: 0px;
    }

    .title {
        width:100%;
        max-width:475px;
        height:75px;
        font-size:30px;
        bottom:35px;
        top: 282.5px;
        border:0px;
    }

    .middle{
        position: relative;
        margin-top:20px;
    }

    .center{
        width:100%;
        max-width:710px;
        margin: auto;
    }

    img {
        display: block;
        float: left;
        max-width: 250;
        max-height: 150;
        height: auto;
    }
    
    .larger {
        width: 100%;
        height: auto;
        max-width:475;
        max-height: 350;
    }

    .row {
        height:auto;
    }

    .selfie {
        width: 100%;
        height: auto;
        max-width: 475px;
        max-height: 355px;
        margin-bottom:20px;
    }

    .navbar {
        background-color:#ffffff;
        border-bottom-style: solid;
        border-bottom-color:#cccccc;
        border-bottom-width: 2px;
        position: static;
        width: 100%;
        height: 155px;
        z-index: 2;
    }
    
    .center {
        margin:auto;
        width:770;
    }
    
    #yourname {
        position: absolute;
        top: -670px;
        padding: 30px;
        font-size: 30px;
        font-family: 'Georgia', 'Times New Roman', Times, serif;
        font-weight: bold;
        color: white;
        background-color: #4aaaa5;
        width:100%;
        text-align: center;
        max-height: 90px;
    }
    
    #pages {
        position: absolute;
        top:75px;
        text-align: center;
        padding: 35px;
        width:100%;
        color: #777777;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
       
    }
}


